[submodule "sbt-mode"]
	path = sbt-mode
	url = https://github.com/Toxaris/sbt-mode.git
[submodule "transpose-frame"]
	path = transpose-frame
	url = https://github.com/emacsmirror/transpose-frame
[submodule "scala-mode2"]
	path = scala-mode2
	url = https://github.com/Toxaris/scala-mode2
